:root {
    --pinky: #e6abe1;
    --green: #496B48;
    --brownie: #EADDCC;
    --monblanc: #f5f5f5;
    --acai: #C6443A;
    --yellow: #E5C160;
    --black: #272727;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'ptsans';
}

html {
    font-size: 62.5%;
}


/* FONT */

@font-face {
    font-family: 'ptsans';
    src: url('PTSerif-Regular.ttf') format('truetype');

}
@font-face {
    font-family: 'jap';
    src: url('KleeOne-SemiBold.ttf') format('truetype');

}



/* END FONT */

body {
    background-color: var(--brownie);
    display: grid;
    grid-template-areas:
        "hdr hdr hdr hdr"
        "mn mn mn mn"
        "ftr ftr ftr ftr"
    ;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    position: relative;

}



header {
   
    grid-area: hdr;
    width: 100%;
    background-color: var(--acai);
    height: 90px;
    font-size: 1.8rem;
    z-index: 999;
    list-style: none;
    display: flex; 
    flex-direction: row;   
    align-items: center;
     justify-content: center;
     position: relative;
      position: fixed;
}
.pages1Wrapped input[type="text"] {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  background-color: var(--monblanc);
  border: solid var(--acai);
  color: #333;
  width: 200px;
  margin-right: 20px;
}
.pages1Wrapped{
    width: 100vw;
      display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 6rem;
   
}
.pages1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}
#logo{
    position: absolute;
    width: 10rem; 
    transform: translateY(-30%); 
    left: 6rem;
}


a {
    text-decoration: none;
    color: var(--monblanc);
    font-size: normal;
  }





nav .pages2 {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
     justify-content: center;
    gap: 10vw;
}

nav ul img#logo{
    position: absolute;
    left: 8vw;

}




.containerBody {
    grid-area: mn;
    margin: 0;
     overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}


 

/* BODY MAIN */
 section.main {

    background-color: #a19676;
    grid-row: 1;
    max-width: 100vw;
    right:0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
     height: 100%;
}

.main img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
.main h2 {
    position: absolute;
    z-index: 2;
    color: var(--monblanc);
    font-family: 'ptsans' ,'Helvetica';
    max-width: 24ch;
    min-width: 10ch;
    font-size: 10rem;
    font-weight: normal;
    margin: 0;
     top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


/* BODY CONTENT */
.content-wrapper{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4,auto); 
    gap: 3rem; 
    color: var(--black);
    font-family: 'ptsans';
    font-size: 2.4rem;
    margin: 10rem 20rem;
   /*  font-weight: normal; */
 /*    margin-bottom: 0; */
   /*  height: 100%; */

}

.content h1 {
    grid-column: span 7;
    font-size: 3.2rem;
    max-width: 30ch;
  }
  .content figure:nth-of-type(1) {
    grid-column: 8/-1;
    
    width: 100%;
    object-fit: cover;
  }
figcaption{
    font-size: smaller;
    color:#505050;
}
.content figure:nth-of-type(2){
    grid-column: span 5;
    width: 100%;
   /*  object-fit: cover; */
    margin-bottom: 0;
}

.first-paragraph{
    grid-column: 6/-1;
    width: 100%;
    height: 30rem;
    margin-left: 2rem;
    margin-bottom: 0;
    padding-left: 5rem;
}

.second-paragraph{
    grid-column: 1/span 12;
    margin-bottom: 0;
    padding-top: 2rem;
}


/* BUTTON */
/* .callToActionButton{
    margin-bottom: 20rem;
} */
 .button-style {
    display: block;
    background-color: var(--yellow);
    color: var(--brownie);
    border-color: transparent; 
    margin-top: 3.5rem;
    margin-bottom: 5rem;
    border-radius: 20px;
    height: 5.2rem;
    z-index: 1;
    cursor: pointer;
    font-family: 'robotorbold';
    font-size: 2.0rem;
    font-family: 'ptsans';
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: var(--black);
    width: 20rem;

}

 .button-style:hover {
    border-color: var(--acai);
    border-style: solid;
    border-width: 0.5rem;
}

 .button-style:active {
    background-color: var(--green);
    border-color: transparent;
}
 

/* FOOFIGHTER */
.footer {
    grid-row: 6;
    grid-area: ftr;
    width: 100%;
    font-size: 1.8rem;
    background-color: var(--green);
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
    color: var(--brownie);
    width: 100%;
   


}



.footer p {
    padding-top: 0.7rem;
    max-width: 35ch;
    font-family: 'ptsans';
    font-weight:normal;
    font-size: 1.6rem ;

}
.column {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    margin: 0vw 4vw;
}
.footer h3 {
    font-family: 'ptsans';
    padding-bottom: 0.3rem;
    margin-top: 0.5rem;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}


.socials{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.footer ul li a img {
    width: 25px;
    height: auto;
    margin: 0.6rem;
}

.footerFin {
    background-color: var(--monblanc);
    display: flex;
    justify-content: center;
    align-self: center;
}

.footerFin p{
    padding: 0.9rem;
    color: var(--black);
    font-family: 'ptsans';
    font-weight:normal;
    font-size: 1.6rem ;
}


    @media screen and (max-width: 1450px) {

        .content-wrapper{
    
            display: flex;
            flex-direction: column;
            /* align-items: center;
            justify-content: center; */
            height: 100%;
        }
        .content {
          margin: 5rem;
          display: flex;
          flex-direction: column;
         
         /*  align-items: center;
          justify-content: center; */
        }
      
        .content h1 {
          font-size: 3.2rem;
          text-align: left;
          max-width: 100%;
          margin: 5rem auto;
      
        }
      
        .content figure:nth-of-type(1) {
      
          max-width: 100%;
          object-fit: cover;
          margin-bottom: 2rem;
         width: 100%;
          height: auto;
        }
      
        .content figure:nth-of-type(2) {
       
          width: 100%;
          margin-bottom: 2rem;
        }
        .content figure img{
            width: 100%;
            height: 40rem;
            object-fit: cover;
        }
      
        .first-paragraph {
         
          width: 100%;
          height: auto;
          margin-left: 0;
          margin-bottom: 2rem;
          padding-left: 0;
          padding-right: 0;
        }
      
        .second-paragraph {
    
          margin-bottom: 2rem;
          padding-top: 2rem;
        }
      
        .button-style {
          margin-top: 2rem;
          margin-bottom: 3rem;
          width: 16rem;
        }
        
      }
      


@media screen and (max-width: 950px) {
    #logo{
        position: absolute;
        width: 8rem; 
       /*  transform: translateY(-30%);  */
       margin-left: 0;
       left: 2rem;
       
    }
    .pages1Wrapped{
        padding-right: 3rem;
    }
    .main h2{
        font-size: 7rem;
    }
     
}