:root {
    --pinky: #e6abe1;
    --green: #496B48;
    --brownie: #EADDCC;
    --monblanc: #f5f5f5;
    --acai: #C6443A;
    --yellow: #E5C160;
    --black: #272727;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'ptsans';
}

html {
    font-size: 62.5%;
}


/* FONT */

@font-face {
    font-family: 'ptsans';
    src: url('PTSerif-Regular.ttf') format('truetype');

}
@font-face {
    font-family: 'jap';
    src: url('KleeOne-SemiBold.ttf') format('truetype');

}



/* END FONT */

body {
    background-color: var(--brownie);
    display: grid;
    grid-template-areas:
        "hdr hdr hdr hdr"
        "mn mn mn mn"
        "ftr ftr ftr ftr"
    ;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    position: relative;

}


header {
   
    grid-area: hdr;
    width: 100%;
    background-color: var(--acai);
    height: 90px;
    font-size: 1.8rem;
    z-index: 999;
    list-style: none;
    display: flex; 
    flex-direction: row;   
    align-items: center;
     justify-content: center;
     position: relative;
      position: fixed;
}
.pages1Wrapped input[type="text"] {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  background-color: var(--monblanc);
  border: solid var(--acai);
  color: #333;
  width: 200px;
  margin-right: 20px;
}
.pages1Wrapped{
    width: 100vw;
      display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 6rem;
   
}
.pages1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}
#logo{
    position: absolute;
    width: 10rem; 
    transform: translateY(-30%); 
    left: 6rem;
}


a {
    text-decoration: none;
    color: var(--monblanc);
    font-size: normal;
  }





nav .pages2 {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
     justify-content: center;
    gap: 10vw;
}

nav ul img#logo{
    position: absolute;
    left: 8vw;

}





.containerBody {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 0;
    grid-area: mn;
    margin: 0;
   /*  overflow: hidden; */

}

/* BUTTON */

.buttonStyle {
 
    background-color: var(--yellow);
    color: var(--brownie);
    border-color: transparent;
    margin-top: 3.2rem;
    border-radius: 20px;
    height: 5.2rem;
    z-index: 1;
    cursor: pointer;
    font-family: 'robotorbold';
    font-size: 2.0rem;
    font-family: 'ptsans';
    justify-content: center;
    font-weight: bolder;
    color: var(--black);

}

 .buttonStyle:hover {
    border-color: var(--acai);
    border-style: solid;
    border-width: 0.5rem;
}

 .buttonStyle:active {
    background-color: var(--green);
    border-color: transparent;
}
 

/* BODY MAIN */
 section.main {
    background-color: #a19676;
    grid-row: 1;
    height: 100vh;
    display: grid;
    max-width: 100vw;
    right:0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     position: relative;

}

 .slide{

   position: absolute;
   top:0;
   left: 0;
   width: 100%; 
    z-index: 0;
    object-fit: cover;
    overflow: hidden;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 1s ease;
   height: 100%; 
   
}
.slide.active {
    opacity: 1;
    margin: 0 auto;
  } 


  



.main h2 {
    /* margin-left: 8rem;
    margin-top: 30rem; */
    z-index: 2;
    color: var(--monblanc);
    font-family: 'jap' ,'Helvetica';
    max-width: 24ch;
    min-width: 10ch;
    font-size: 10rem;
    font-weight: normal;
    text-align: center;

}
.main p{
     z-index: 2;
     color: var(--monblanc);
    font-family: 'jap' ,'Helvetica';
     font-size: 3rem;
       text-align: center;
       max-width: 34ch;
}





/* BODY Product */
.productCollection {
    grid-row: 2;
    background-color: var(--brownie);
    width: 100vw;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction:column; 
    

}



.productCollection p {
    font-size: 3.4rem;
    font-family: 'ptsans';
    font-weight: bolder;
    color: var(--black);
    max-width: 30ch;
   margin: 30px 0px;

}


.product img[alt="product_1"],img[alt="product_2"],img[alt="product_3"] {

    overflow-x: hidden;
    overflow-y: hidden; 
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 0;
    margin: 2rem;
    width: 25rem;
    object-fit: cover;
    margin: 0rem 5rem;
    opacity: 1;

}



 
 .product .productDetails{
    display: flex;
    flex-direction: column;
    font-size:1.8rem ;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transform: translateY(-170px);
    font-family: 'capriola';
    color: var(--black);
    
 }
 .productDetails p{
    font-size: 1.8rem;
    transform: translateX(-45%);
  
 }



.imageContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#product-number-one{
    position: relative;
    z-index: 0;
}


#ichiban{
    z-index: 1;
    position: absolute;
   max-width:20rem;
  animation: rotate;
   animation-duration: 8s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
  
}
 
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
/* aboutUs */
section.aboutUs {
    width: 100vw;
    grid-row: 3;/* 
    margin-right: 0;
    align-items: center; */
    font-size: 1.8rem;
    color: var(--monblanc);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   text-align: center;
   color: var(--brownie);
   font-family: 'ptsans';
   height: 50vh;
}

.aboutUs img{
   /*  height: 60vh; */
    height: 100%;
    width: 100vw;
    z-index: 0;
   /*  opacity: 50%; */
}
.aboutSection{
    z-index: 1;
    position: absolute;
     margin: 0 auto; 
}


.aboutUs p {
   max-width: 80ch;
 font-weight:normal;
font-size: 2.0rem ;
} 

.aboutUs h3{
    font-size: 3.4rem ;
    padding-bottom:2rem ;
    letter-spacing: 4px;
}

.UsButton{
    width: 18rem;
    border-radius: 170px;
}

  





/*  howToEnjoy*/
 section.howToEnjoy{
    background-color: var(--brownie);
    width: 100vw;
    grid-row: 4;
    color: var(--black);
    font-size: 2.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}

.illustration{
 /*    padding: 5rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 6rem;
}

.howToEnjoy h3{
    /*  margin-left: 2vw;
     padding: 2vw; */
     margin-top: 3rem;
     font-size: 3.4rem ;
     letter-spacing: 2px;
 } 
.howToEnjoy p{
   /*  margin-left: 2vw;
    padding: 2vw; */
    max-width: 90ch;
    padding-bottom: 3rem;
} 

 .steps{
    width: 20rem;
}
.allStep{
    max-width: 20ch;
    margin: 0rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.illustration img{
    width: 100%;
    height: 100%;
    
    
}

/* CALL TO ACTION */
section.callToAction {
    grid-row: 5;
    background-color: var(--acai);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.8rem;
    color: var(--black);
}

.callToAction h1 {
    margin-top: 5vh;
    font-family: 'ptsans';
    letter-spacing: 4px;
    font-size: 3.4rem;
   
}

.callToAction p{
    margin: 5vh 0;
    font-family: 'capriola';
    max-width: 85vh;
    font-weight:normal;
   font-size: 2.0rem ;
    
}

.buttonStyle.slimeButton {
    display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0%, -90%); 
  border-radius:150px ;
  width: 15rem;
  
  }

/* FOOFIGHTER */
.footer {
    grid-row: 6;
    grid-area: ftr;
    width: 100%;
    font-size: 1.8rem;
    background-color: var(--green);
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
    color: var(--brownie);
    width: 100%;
   


}



.footer p {
    padding-top: 0.7rem;
    max-width: 35ch;
    font-family: 'ptsans';
    font-weight:normal;
    font-size: 1.6rem ;

}
.column {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    margin: 0vw 4vw;
}
.footer h3 {
    font-family: 'ptsans';
    padding-bottom: 0.3rem;
    margin-top: 0.5rem;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}


.socials{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.footer ul li a img {
    width: 25px;
    height: auto;
    margin: 0.6rem;
}

.footerFin {
    background-color: var(--monblanc);
    display: flex;
    justify-content: center;
    align-self: center;
}

.footerFin p{
    padding: 0.9rem;
    color: var(--black);
    font-family: 'ptsans';
    font-weight:normal;
    font-size: 1.6rem ;
}


@media screen and (max-width: 1100px){
    /* Product */
    .productCollection {
        grid-row: 2;
        background-color: var(--brownie);
        width: 100vw;
        display: flex; 
        justify-content: center;
        align-items: center;
        flex-direction:column; 
        
    
    }
    
    
    
    .productCollection p {
        font-size: 3.4rem;
        font-family: 'ptsans';
        font-weight: bolder;
        color: var(--black);
        max-width: 30ch;
       margin: 30px 0px;
    
    }
    
    
    .product img[alt="product_1"],img[alt="product_2"],img[alt="product_3"] {
    
        overflow-x: hidden;
        overflow-y: hidden; 
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        padding: 0;
        margin: 0rem;
        width: 20rem;
        object-fit: cover;
        margin: 0rem 3rem;
        opacity: 1;
    
    }
    
    
    
     
     .product .productDetails{
        display: flex;
        flex-direction: column;
        font-size:1.8rem ;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        transform: translateY(-170px);
        font-family: 'capriola';
        color: var(--black);
        
     }
     .productDetails p{
        font-size: 1.8rem;
        transform: translateX(-45%);
      
     }
    
    
    
    .imageContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #product-number-one{
        position: relative;
        z-index: 0;
    }
    
    
    #ichiban{
        z-index: 1;
        position: absolute;
       max-width:20rem;
      animation: rotate;
       animation-duration: 8s;
       animation-iteration-count: infinite;
       animation-timing-function: linear;
      
    }
     
    @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
}


@media screen and (max-width: 800px) {
    #logo{
        position: absolute;
        width: 8rem; 
       /*  transform: translateY(-30%);  */
       margin-left: 0;
       left: 2rem;
       
    }
    .pages1Wrapped{
        padding-right: 3rem;
    }
    .main h2{
        font-size: 7rem;
        text-align: center;
        padding: 0rem 2rem;
    }
    .main p {
        font-size: 2.5rem;
        padding: 0rem 2rem;
    }

    /* PRODUCT COLLECTION */
    .productCollection {
        grid-row: 2;
        background-color: var(--brownie);
        width: 100vw;
        display: flex; 
        justify-content: center;
        align-items: center;
        flex-direction:column; 
        
    
    }
    
    
    
    .productCollection p {
        font-size: 3.4rem;
        font-family: 'ptsans';
        font-weight: bolder;
        color: var(--black);
        max-width: 30ch;
       margin: 30px 0px;
    
    }
    
    
    .product img[alt="product_1"],img[alt="product_2"],img[alt="product_3"] {
    
        overflow-x: hidden;
        overflow-y: hidden; 
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        padding: 0;
        margin: 2rem;
        width: 25rem;
        object-fit: cover;
        margin: 0rem 5rem;
        opacity: 1;
    
    }
    
    
    
     
     .product .productDetails{
        display: flex;
        flex-direction: column;
        font-size:1.8rem ;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        transform: translateY(-170px);
        font-family: 'capriola';
        color: var(--black);
        
     }
     .productDetails p{
        font-size: 1.8rem;
        transform: translateX(-45%);
      
     }
    
    

    .imageContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #product-number-one{
        position: relative;
        z-index: 0;
    }
    
    
    #ichiban{
        z-index: 1;
        position: absolute;
       max-width:20rem;
      animation: rotate;
       animation-duration: 8s;
       animation-iteration-count: infinite;
       animation-timing-function: linear;
      
    }
     
    @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      
      .aboutUs p{
        margin: 0 3rem;
      }

      /* HOW TO ENJOY */
      section.howToEnjoy{
        background-color: var(--brownie);
        width: 100vw;
        grid-row: 4;
        color: var(--black);
        font-size: 2.0rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    
    }
    
    .illustration{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 6rem;
    }
    
    .howToEnjoy h3{
        
         margin-top: 3rem;
         font-size: 3.4rem ;
         letter-spacing: 2px;
     } 
    .howToEnjoy p{

        max-width: 90ch;
        padding-bottom: 3rem;
    } 
    
     .steps{
        width: 20rem;
    }
    .allStep{
        max-width: 20ch;
        margin: 0rem 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .illustration img{
        width: 100%;
        height: 100%;
        
        
    }

    .callToAction p{
        padding: 0 3rem;
    }
    
  }